#ContactSupport{
	display: none;
}
#ContentRight{
	width: 100%;
	margin-left: 0px;
	padding-bottom: 40px;
}
.ContentRightContainer h1{
	padding-top: 32px;
}
.ContentRightContainer h2{
	padding-top: 10px;
}
#DocsMain h2{
	padding-left: 16px;
	padding-right: 16px;
}
.ResourcesCard{
	padding: 16px;
	height: 48px;
	width: calc(100% - 32px);
}
.ResourcesCard div{
	
}
.ResourcesCard .fa{
	top: 34px;
}
.ResourcesCard h3{
    line-height: 22px;
    font-size: 14px;
}
.ResourcesCard img{
	
}
.ResourcesCard p{
	line-height: 20px;
	font-size: 13px;
}
.Subnavigation{
	position: relative;
}
.Subnavigation div{
	display: block;
	position: relative;
}
.Subnavigation .fa{
	position: absolute;
	right: 16px;
	height: 48px;
	line-height: 48px;
	display: inline-block;
	color: rgb(169,184,193);
	display: inline-block !important;
	top: 0;
}
.Subnavigation ul{
	position: absolute;
	top: 0;
	height: 0px;
	overflow: hidden;
	width: 100%;
	padding: 0 !important;
	transition: height .35s;
	z-index: 1;
}
.SubnavigationItem{
	font-size: 16px;
	padding-left: 16px;
	padding-right: 16px;
	width: calc(100% - 32px);
	height: 48px;
	line-height: 48px;
	color: #576f7f;
	margin: 0;
	display: block;
	background-color: rgb(242,244,246);
	z-index: 1;
}
.SubnavigationItem:hover, .SubnavigationItemSelected{
	background-color: rgb(230,234,237);
	color: #0e304b;
	box-shadow: none;
}
.SubnavigationSelected{
	padding-left: 16px;
	padding-right: 16px;
	width: calc(100% - 32px);
	height: 48px;
	line-height: 48px;
	color: #0e304b;
}
@keyframes ShowUl{
	from{
		height: 0;
	}
	to{
		height: 200px;
	}
}
.SubnaviationShowUl{
	animation-name: ShowUl;
	animation-duration: .35s;
	height: 200px !important;
}
#TopicsLeft{
	display: none;
}
.WhiteBlueGroup .Blue{
	padding-top: 33px !important;
}
.WhiteTopic{
	padding-top: 12px;
	font-size: 28px;
}