*{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}
a{
	text-decoration: none;
	color: inherit;
	display: block;
	width: 100%;
	height: 100%;
}
b{
	font-weight: bold !important;
}
body{
	color: #576f7f;
    font-family: 'Vaud', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	overflow-x: hidden;
}
code{
	font-family: 'Monaco', 'Courier';
    font-size: 15px;
    line-height: 25px;
    white-space: pre-wrap;
    word-break: break-word;
    word-spacing: normal;
    background-color: #f7f8f9;
    border: 1px solid #f2f4f6;
    border-radius: 2px;
    color: #576f7f;
    padding-left: 3px;
    padding-right: 3px;
}
.Code{
	font-family: 'Monaco', 'Courier';
    font-size: 14px;
    line-height: 25px;
    background-color: #0e304b;
    border-radius: 4px;
    margin-bottom: 1.6rem;
    padding: 32px;
    overflow-x: auto;
}
.Console{
	color: white;
}
.CSS{
	color: white;
}
.CSS .Property{
	padding-left: 12px;
}
.CSS .PropertyName{
	color: #f92672;
}
.CSS .PropertyValue:after{
	content: ";";
}
.CSS .PropertyValue:before{
	content: ": ";
}
.CSS .Selector{
	color: #a6e22e;
}
.CSS .Selector:after{
	content: "{";
	color: white;
}
.CSS .Structure:after{
	content: "}"
}
html{
	background: #f7f8f9;
}
.HTML{
	color: white;
}
.HTML .Comment{
	color: #576f7f;
}
.HTML .Comment:after{
	content: " -->"
}
.HTML .Comment:before{
	content: "<!-- "
}
.HTML .Property:after{
	content: '"';
}
.HTML .Property:before{
	content: " ";
}
.HTML .PropertyName{
	color: #a6e22e;
}
.HTML .PropertyValue{
	color: #e6db74;
}
.HTML .PropertyName:after{
	content: '="';
	color: white;
}
.HTML .Tag:after{
	content: ">"
}
.HTML .Tag:before{
	content: "<"
}
.HTML .Tag .Content:after{
	content: "</";
}
.HTML .Tag .Content:before{
	content: ">"
}
.HTML .Tag .Type{
	color: #f92672;
}
.JS{
	color: white;
}
.JS .Identation{
	padding-left: 12px;
}
.JS .Comment{
	color: slategray;
}
.JS .Comment:after{
	content: none;
}
.JS .Comment:before{
	content: "// ";
}
.JS .Green{
	color: #a6e22e;
}
.JS .LightBlue{
	color: #66d9ef;
}
.JS .Purple{
	color: #ae81ff;
}
.JS .Yellow{
	color: #e6db74;
}
td,th{
	padding: 12px;
	border-bottom: 1px solid #f2f4f6;
}
td:first-child{
	text-align: right;
}
td:first-child,th:first-child{
	padding-left: 0;
}
td:last-child,td:last-child{
	padding-right: 0;
}
tr{
	border-bottom: 1px solid #e6eaed;
}
th{
	color: #576f7f;
	text-transform: uppercase;
}