*{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}
a{
	text-decoration: none;
	color: inherit;
}
body{
	color: #576f7f;
	font-family: 'Vaud', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
}
footer{
	color: #aab7be;
	padding-bottom: 32px;
	padding-top: 64px;
	text-align: center;
}
.FooterCopyright{
	font-size: 14px;
}
.FooterItem{
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
    color: #576f7f;
	cursor: pointer;
}
.FooterItem:hover{
	color: #0e304b;
}
.FooterMenu{
	margin-bottom: 16px;
}
html{
	background: #f7f8f9;
}