<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="Plaid">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Paybook - FAQ</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/bigStyle.css">
	<link rel="stylesheet" media="screen and (max-width: 1025px)" href="../css/mediumStyle.css">
	<link rel="stylesheet" media="screen and (max-width: 715px)" href="../css/smallStyle.css">

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script><!-- load angular -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>
	<script src="../js/faq.js"></script>

</head>
<body ng-controller="main" ng-click="closeAll()">
	<main>
		<nav class="Navigation">
			<div ng-click="showSmallViews($event)" class="NavigationSmallButton">
				<div class="fa fa-bars"></div>
			</div>
			<div class="NavigationLeft">
				<a href="/">
					<img src="../img/icon.jpeg">
				</a>
				<a href="/">
					<span>Paybook</span>
				</a>
			</div>
			<ul class="NavigationCenter">
				<li class="NavigationItem" id="CloseSidebar" ng-click="closeAll()"><div class="fa fa-times"></div></li>
				<li class="NavigationItem"><a href="/solutions">Solutions</a></li>
				<li class="NavigationItem"><a href="/products">Products</a></li>
				<li class="NavigationItem"><a href="/docs">Docs</a></li>
				<li class="NavigationMore">
					<div class="NavigationItem" ng-click="navbarShowMore($event)">
						<span>More</span>
						<div class="fa fa-chevron-down"></div>
					</div>
					<ul class="NavigationMoreList">
						<li class="NavigationMoreItem"><a href="/company">Company</a></li>
						<li class="NavigationMoreItem"><a href="/contact">Contact</a></li>
						<li class="NavigationMoreItem"><a href="/security">Security</a></li>
						<li class="NavigationMoreItem"><a href="/blog">Blog</a></li>
						<li class="NavigationMoreItem"><a href="/fin">Fin</a></li>
					</ul>
				</li>
			</ul>
			<div class="NavigationBlocker"></div>
		</nav>
		<article class="Docs">
			<div id="DocsContent">
				<!-- SUBNAVIGATION -->
				<div class="Subnavigation">
					<div class="SubnavigationSelected" ng-click="showSmallSubviews($event)">
						<span>{{view}}</span>
						<div class="fa fa-chevron-down"></div>
					</div>
					<ul>
						<li class="SubnavigationItem"><a href="/docs/quickstart">Quickstart</a><div style="display: none;" class="fa fa-chevron-up"></div></li>
						<li class="SubnavigationItem"><a href="/docs/documentation">Documentation</a></li>
						<li class="SubnavigationItem SubnavigationItemSelected">Resources</li>
						<li class="SubnavigationItem"><a href="/docs/faq">FAQ</a></li>
					</ul>
				</div>
				<div id="ContainerLeftRight">
					<div id="TopicsLeft">
						<div ng-repeat="topic in info">
							<div class="{{actualTopic==$index&&actualSubtopic==-1?'TopicsLeftSelected TopicLeft':'TopicLeft'}}" ng-click="scrollToTopic($index)">{{topic.title}}</div>
							<div ng-repeat="subtopic in topic.subtopics">
								<h1 class="{{actualTopic==$parent.$index&&actualSubtopic==$index?'TopicsLeftSelected SubtopicLeft':'SubtopicLeft'}}" ng-show="$parent.$index==actualTopic" ng-click="scrollToSubtopic($parent.$index,$index)">{{subtopic.title}}</h1>
							</div>
						</div>
					</div>
					<div id="ContentRight">
						<div ng-repeat="topic in info">
							<h1 id='{{"Topic"+$index}}'>{{topic.title}}</h1>
							<div ng-bind-html="topic.body"></div>
							<div ng-repeat="subtopic in topic.subtopics">
								<h1 id='{{"Topic"+$parent.$index+"_"+$index}}'>{{subtopic.title}}</h1>
								<div ng-bind-html="subtopic.body"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</main>

	<!-- FOOTER -->
	<footer>
		<ul class="FooterMenu">
			<li class="FooterItem">FAQ</li>
			<li class="FooterItem"><a href="/blog">Blog</a></li>
			<li class="FooterItem"><a href="/legal">Terms and Privacy</a></li>
			<li class="FooterItem"><a href="/status">Status</a></li>
			<li class="FooterItem"><a href="/contact">Contact</a></li>
			<li class="FooterItem"><a href="/fin">Fin</a></li>
		</ul>
		<p class="FooterCopyright">2016 CTAM</p>
	</footer>
</body>
</html>