<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html lang="es" ng-app="Paybook">
<head>
	<base href="../docs2">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Paybook - Contact</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="src/css/style.css">
	<link rel="stylesheet" type="text/css" href="src/css/bigStyle.css">
	<link rel="stylesheet" media="screen and (max-width: 1025px)" href="src/css/mediumStyle.css">
	<link rel="stylesheet" media="screen and (max-width: 715px)" href="src/css/smallStyle.css">

	<!-- SPELLS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script><!-- load angular -->
	<script src="src/js/contact.js"></script>

</head>
<body ng-controller="main" data-ng-init="init()" ng-click="closeAll()">
	<main>
		<nav class="Navigation">
			<div ng-click="showSmallViews($event)" class="NavigationSmallButton">
				<div class="fa fa-bars"></div>
			</div>
			<div class="NavigationLeft">
				<a href="{{language.code}}">
					<img src="img/icon.jpeg">
				</a>
				<a href="{{language.code}}">
					<span>Paybook</span>
				</a>
			</div>
			<ul class="NavigationCenter">
				<li class="NavigationItem" id="CloseSidebar" ng-click="closeAll()"><div class="fa fa-times"></div></li>
				<li class="NavigationItem"><a href="{{language.code+'/solutions'}}">{{allPages.Solutions}}</a></li>
				<li class="NavigationItem"><a href="{{language.code+'/products'}}">{{allPages.Products}}</a></li>
				<li class="NavigationItem"><a href="{{language.code+'/docs'}}">{{allPages.Docs}}</a></li>
				<li class="NavigationMore">
					<div class="NavigationItem" ng-click="navbarShowMore($event)">
						<span>{{allPages.More}}</span>
						<div class="fa fa-chevron-down"></div>
					</div>
					<ul class="NavigationMoreList">
						<li class="NavigationMoreItem"><a href="{{language.code+'/company'}}">{{allPages.Company}}</a></li>
						<li class="NavigationMoreItem"><a href="{{language.code+'/contact'}}">{{allPages.Contact}}</a></li>
						<li class="NavigationMoreItem"><a href="{{language.code+'/security'}}">{{allPages.Security}}</a></li>
						<li class="NavigationMoreItem"><a href="{{language.code+'/blog'}}">{{allPages.Blog}}</a></li>
						<li class="NavigationMoreItem"><a href="{{language.code+'/fin'}}">{{allPages.Fin}}</a></li>
					</ul>
				</li>
			</ul>
			<div class="NavigationRight">
				<div class="LanguageButton" ng-click="showLanguages($event)">{{language.name}}</div>
				<div class="LanguageButtonSmall fa fa-language" ng-click="showLanguages($event)"></div>
				<ul class="Languages">
					<li class="NavigationMoreItem"><a href="en/contact">English</a></li>
					<li class="NavigationMoreItem"><a href="es/contact">Español</a></li>
				</ul>
			</div>
			<div class="NavigationBlocker"></div>
		</nav>
		<article class="Contact">
			<h2>{{info.title}}</h2>
			<h3>{{info.subtitle}}</h3>
		</article>
	</main>

	<!-- FOOTER -->
	<footer>
		<ul class="FooterMenu">
			<li class="FooterItem"><a href="{{language.code+'/docs/faq'}}">{{allPages.FAQ}}</a></li>
			<li class="FooterItem"><a href="{{language.code+'/blog'}}">{{allPages.Blog}}</a></li>
			<li class="FooterItem"><a href="{{language.code+'/legal'}}">{{allPages.TermsAndPrivacy}}</a></li>
			<li class="FooterItem"><a href="{{language.code+'/status'}}">{{allPages.Status}}</a></li>
			<li class="FooterItem"><a href="{{language.code+'/contact'}}">{{allPages.Contact}}</a></li>
			<li class="FooterItem"><a href="{{language.code+'/fin'}}">{{allPages.Fin}}</a></li>
		</ul>
		<p class="FooterCopyright">2016 Paybook</p>
	</footer>
</body>
</html>