<article class="Docs" data-ng-init="init()">
	<!-- SUBNAVIGATION -->
	<div class="Subnavigation">
		<div class="SubnavigationSelected" ng-click="showSmallSubviews($event)">
			<span>{{allPages.Quickstart}}</span>
			<div class="fa fa-chevron-down"></div>
		</div>
		<ul>
			<li class="SubnavigationItem SubnavigationItemSelected">{{allPages.Quickstart}}<div style="display: none;" class="fa fa-chevron-up"></div></li>
			<li class="SubnavigationItem"><a href="{{language.code+'/docs/documentation'}}">{{allPages.Documentation}}</a></li>
			<li class="SubnavigationItem"><a href="{{language.code+'/docs/resources'}}">{{allPages.Resources}}</a></li>
			<li class="SubnavigationItem"><a href="{{language.code+'/docs/faq'}}">{{allPages.FAQ}}</a></li>
		</ul>
		<div id="ContactSupport">
			<span>{{allPages.Questions}}</span>
			<a href="{{language.code+'/contact'}}">{{allPages.Support}}</a>
		</div>
	</div>
	<div id="ContainerLeftRight">
		<div id="TopicsLeft">
			<div ng-repeat="topic in info">
				<div class="{{actualTopic==$index?'TopicsLeftSelected TopicLeft':'TopicLeft'}}" ng-click="scrollToTopic($index)">{{topic.title}}</div>
			</div>
		</div>
		<div id="ContentRight">
			<center>
				<div class="ContentRightContainer">
					<div class="SelectLibrary" ng-click="showLibraries($event)">
						<h6>Librería servidor</h6>
						<img src="{{'../../img/'+selectedLibrary.img}}">
						<h5>{{selectedLibrary.title}}</h5>
						<span class="fa fa-chevron-down"></span>
					</div>
					<ul class="Libraries">
						<li ng-repeat="library in libraries" ng-click="selectLibrary($index)">
							<img src="{{'../../img/'+library.img}}"><h5>{{library.title}}</h5>
						</li>
					</ul>
					<p style="margin-top: 120px;">El objetivo de este tutorial es implementar <a href="https://www.paybook.com/syncdocs#api-Overview-Overview">Sync API</a>. Entender cómo funciona el sistema y las interacciones que se establecen entre tu aplicación y el API.</p>
					<div ng-repeat="topic in info">
						<h1 id='{{"Topic"+$index}}'>{{topic.title}}</h1>
						<div ng-repeat="body in topic.body">
							<div ng-show="body[0]=='<'" ng-bind-html="body"></div>
							<div class="InputContainer" ng-show="body[0]!='<'">{{body[2]}}<input placeholder="{{body[0]}}" type="text" ng-model="body[1]" ng-keyup="inputController($parent.$index,$index)"></div>
						</div>
					</div>
				</div>
			</center>
		</div>
	</div>
</article>